# Numpy and Pandas

Numpy and Panda are two increadibly powerful Python libraries. They are used for most tasks connected with manipulating data. In this notebook I go into a lot of detail about what they can do. 

While you will need only basic understaqnding of Numpy and Panda for the rest of this course, you are very likely to encounter a lot of them if you get deeper into analysing data with Python.

## Recap

### range and creating stings

In [ ]:
list('ABCDE')

In [ ]:
[i*2 for i in [0,1,2,3,4,5]]

In [ ]:
[i for i in range(0, 50, 10)]

In [ ]:
[f"{i} to {i+9}" 
 for i in range(0, 50, 10)]

In [ ]:
# you can also use the " {} ".format(variable)
["{} to {}".format(i,i + 9)
 for i in range(0, 50, 10)]

In [ ]:
# and it also supports variable names:
["{start} to {end}".format(start = i, end = i + 9)
 for i in range(0, 50, 10)]

In [ ]:
# which is most useful when you want to repeat the same value or calculation:

["formats of range from {start} to {end}: {start}-{end}, {start} to {end}, {start}..{end}".format(start=i, end=i + 9)
 for i in range(0, 50, 10)]

Formating stirngs with .format() is especially useful when you split responsibilities amongs your team:

- one person writes the message (eg. copywriter),
- one person writes tghe logic (business analyst)
- yet another person will combine them together (programmer)

like in:

In [ ]:
customer_message = "Dear {name}. Your gift card is expiring, you have £{money_left} and {days_left} days to use it"

data_from_api = {'name':"Clara", 'money_left': 13.35, 'days_left': 3}

print(customer_message.format(**data_from_api))

# note, the ** will explode your Dict into individual variables. It is explained below in this notebook.

### New (but very rare): Explode operator **

Explode operator is a rare, but often very useful way to 'explode' a dictionary into a number of variables.

You can imagine that when you explode a dictionary:
`
data_from_api = {'name':"Clara", 'money_left': 13.35, 'days_left': 3}
`

Like this:

`
**data_from_api
`

It is interpreted as:

`
name = "Clara"
money_left =  13.35
days_left = 3
`

So you can use ** explode operator to feed dictionaries  .format() string formatting or functions

In [ ]:
data_from_api = {'name':"Clara", 'money_left': 13.35, 'days_left': 3}

customer_message = "Dear {name}. Your gift card is expiring, you have £{money_left} and {days_left} days to use it"
print(customer_message.format(**data_from_api))

In [ ]:
def customer_report(name, money_left, days_left):
    return f"{name} has {days_left} days left to spend £{money_left}"

data_from_api = {'name':"Clara", 'money_left': 13.35, 'days_left': 3}

print( customer_report(**data_from_api)  )

This is most useful when you do not want to write everything by yourself, but also when the data is coming from ourseide (api, key) and you need flexibility.

### Optional arguments

In [ ]:
# optional arguments:
range(9)
range(1,9)
range(1,9,3)

# named arguments:
def divide(first, second):
    return first / second

print( divide(2, 8)  )
print( divide(first = 2, second = 8)  )
print( divide(second = 8, first = 2)  ) # order does not matter anymore

In [ ]:
def as_percent_string(number, decimal_places = 0, symbol = "%"):
    number *= 100
    return "{num:.{dec}f}{sym}".format(num = number, sym = symbol, dec = decimal_places)

print( as_percent_string(2/3) )
print( as_percent_string(2/3, decimal_places = 2) )
print( as_percent_string(2/3, symbol = " percent") )
print( as_percent_string(2/3, decimal_places = 1, symbol = " percent") )

In [ ]:
# print has an optional argument 'end' which decides what character to put at the end.
# by default is equal to '/n' (meaning new line), but you can change it to anything

print("2")
print("4")
print("7")
print()

print("2",end="")
print("4",end="")
print("7",end="")
print()

print("2",end="\t")
print("4",end="\t")
print("7",end="\t")
print()

separator = "****"
print("2",end=separator)
print("4",end=separator)
print("7",end=separator)





# Numpy and Pandas

### What are Numpy and Pandas

Numpy and Pandas are two very useful libraries for dealing with data in Python. They work so closely together that often you might not know where one starts and the other ends. One basic distinction is:

- **Numpy** is for basic numerical operations (mean, range, etc), especially on multidimentional arrays (sort of like Lists of Lists of Lists...)

- **Pandas** is for advance data operations arranging, cleaning up, analysis, but also can be used for data input and a few other commond tasks in data analysis.

Let's look at some features that become easier with Numpy and Pandas

before we use them, as with all other libraries, we will need to import them. Becuase we will use their name frequently, it is frequent to import them and give them both shorter names:

```
import pandas as pd
import numpy as np
```

so that you can use theis short name like this:

```
np.zeros(10, dtype='int')
```

rather than having to type every time

```
numpy.zeros(10, dtype='int')
```

Note: it does not save you a lot of typing, but is done a lot. You can choose to not use 'as short_name' syntax, but be aware that other people might.

## Arrays - new data type, like more powerful Lists

Numpy introduces a new data type called **Array**. It is basically like a List, but has s number of new very powerful methods and syntax that make data operations easier and faster.

Teoretically you could do everything that we do with Arrays by just using good old Lists, but it would take more time and be less compatible with other libraries.

To create an Array, you can cast a list into ```np.array( your_list )``` just like you could cast your list into a set ```set(your_list)``` or a decimal number into an whole number ```int(3.14)```

Notice the ```np.array``` at the begining - it means that you are using the ```array class``` from the ```np``` library. ```np``` is a short name for ```numpy``` (which you yourself gave it in ```import numpy as np```)

In [ ]:
import numpy as np
import pandas as pd

my_list = [3, 7, 5, 5]
print(my_list)

# you can create an array by feeding in a List, as a variable or directly:

my_array = np.array(my_list)
print(my_array)

my_array2 = np.array([3, 0, 5, 0])
print(my_array2)

# notice it is printed a bit differently than a list!

Arrays are often used in situations where there are many dimensions. So a grid of 

`
3755
0159
3050
`

Can be represented as:

In [ ]:
scores = np.array([
                    [3, 7, 5, 5],
                    [0, 1, 5, 9],
                    [3, 0, 5, 0]
                   ])


print(scores)

# let's print what type of a thing it is:
print(type(scores))

### Recap: Lists with many dimensions

Most of the time yoru data has many dimentions. 

- variable has **zero dimentions** - you do not need any more index/address to know what's in it
- list/array has **one dimention** - index is the way to address individual items in a list
- list of lists has **two dimentions** - index of the top list, and then an index of the inned list

Before we already sometimes used multi-dimentional lists:

In [ ]:
# let's create a two-dimentional list:
list_of_lists = [[3,4,5,6,7], [30,40,50,60,70]] 

# print the big list
print(list_of_lists) 

# print first sub-list
print(list_of_lists[0]) 

 # print first number in first sub-list
print(list_of_lists[0][0])

In [ ]:
# to get from the second array it's fourth element (which should be 60), you would use
print(list_of_lists[1][3])

# to get from the first array it's last element (which should be 7), you would use
print(list_of_lists[0][-1])

### Numpy Arrays with many dimensions and new addressing style

In numpy and pandas we will most of the time deal with multidimentional data - with 2,3 or even more dimentions. The dimentions will have a meaning, just like in Excel rows and columns have meanings. We will talk about it soon.

**NEW ADDRESSING STYLE - my_array[3,6]**

- In Lists, to addressed a value by ```my_list[first_dimention][second_dimention]``` like ```stops[3][7]```
- In Arrays, we can also use        ```my_list[first_dimention, second_dimention]``` like ```stops[3, 7]```

From now on when you are getting numbers from arrays, you can pass in index of each next dimention separated by comas.

note: in Arrays you can still use the old format ```stops[3][7]```, but the new one ```stops[3, 7]``` is more common.

Let's look at some multi-dimentional arrays

In [ ]:
scores = np.array([ [3, 7, 5, 5],
                    [0, 1, 5, 9],
                    [4, 0, 5, 0]
                   ])

# in the new indexing style, indexes for each next dimension are separated with a coma
# your_array[first_dimension, second_dimension, third_dimension, ....]

print(scores[0,0])
print(scores[0,1])
print(scores[2,0])
print(scores[2,-1])

Just like in Lists you can use the index not only to GET the value, but also to CHANGE the value:

In [ ]:
scores = np.array([ [3, 7, 5, 5],
                    [0, 1, 5, 9],
                    [4, 0, 5, 8]
                   ])

# let's change some items

scores[0,0] = 10
scores[0,1] = 20
scores[1,3] += 30
scores[-1,-1] += 40
print(scores)

You can request some information about your arrays, just ike you could request a len() from a List

In [ ]:
# you can request some info about a multi-level Array:
scores = np.array([ [3, 7, 5, 5],
                    [0, 1, 5, 9],
                    [4, 0, 5, 0]
                   ])

print("dimentions", scores.ndim)
print("shape", scores.shape)
print("size ", scores.size)

### Creating Arrays full of values

You can specify the default value and type of your new empty array:

- full of zeros with .zeros()
- full of ones with .ones()
- full of some other value with .full(some_value)
- full of random values

In [ ]:
np.zeros( 4 )

By default, created values are floats (numbers with decimal places), but you can specify data type with 'dtype':

In [ ]:
np.zeros(5, dtype='int')

In [ ]:
np.zeros(5, dtype='float')

You can also create multi-dimentional arrays with sizes of all dimentions in a tupple:

(3) - array of 3 elements
(3,5) - 3 sets of 5 elements
(3,5,10) - 3 sets of 5 sets of 10 elements

In [ ]:
np.zeros((3), dtype=float)

In [ ]:
np.zeros((3,5), dtype=float)

In [ ]:
np.zeros((3,5,10), dtype=float)

You can also specify values other than zero with `.ones( dimensions )` or with `.full(dimensions, value)`

In [ ]:
np.ones((2,5), dtype=float)

In [ ]:
np.full((2,5), 3.14)

You can also create values

- from a range with `arange(start, top, jump)`
- with even split between two values `linspace(start, end, slices)`
- indentity matrix with `eye(size)`
- full of random data with `np.random.randint(max_value, size=size_tupple)`

In [ ]:
np.arange(5, 25, 2)

In [ ]:
np.linspace(0, 1, 11)

In [ ]:
np.eye(4)

In [ ]:
# random numbers

print(np.random.randint(10, size=6))

### This is really computer-sciency, but you might enjoy it: 

### Randomness in computers is pseudo-random (not really 'random')

This will be a bit Computer-Science-Heavy, but it's ok if you only understand some of it.

Mind you, this is a **huge simplification**, but basically for this course we will not worry about seeding our randomness, but be aware that your random numbers might repeat, and the seed is to blame.

In computers getting actual real randomness is very diffeicult, because everything requires a cause and effect. 

One of the ways to get a computer to create 'random' numbers is to pick some 'noise' and interpret it as numbers. For example you could pick some unocupied place in memory (sort of like a rubbish pile, full of variable leftovers of old files) and start reading it as if these were purposeful numbers. 

These data would make no sense, and not follow any obvious pattern, so would be in some way 'random'. But also they would be guessable (with a lot of effort) and if by any chance you were to start reading your rubbish data at the EXACT SAME POINT, you would end up with the EXACT SAME RANDOM NUMBERS... which would make them not a very useful randomness. Another problem could be that if you somehow dug up a very repetitive file (eg. eg an .mp3 music file with a lot of silence) you might end up with a lot of repeated numbers and some numbers missing completely (eg. if mp3 files use 0 to describe silence you would get disproportionately many 0 in your randomness).

On some level you could think of that first place from which you started reading your 'noise' as a SEED from which the random numbers will grow. One way to avoid the 'repetitive noise' like in the above example of mp3 file is what Python does: it uses some SEED as the address of  RANDOM_VALUE_1, and then instead of reading the next piece of noise it finde, it uses the value of RANDOM_VALUE_1 as an address in noise to find RANDOM_VALUE_2. And then if uses 'ranom' RANDOM_VALUE_2 as the address to find RANDOM_VALUE_3 and so on. 

It's a sif you had some 'noise' ```[3,6,5,8,7,3,1,9]``` and wanted random values with seed ```2```. 

- first random number would be value on the address/index of ```2``` ----> value ```5```
- next random number would be value on the address/index of ```5``` ----> value ```3```
- first random number would be value on the address/index of ```3``` ----> value ```8```
- etc.

The basic problem is: **IF YOU START AT THE SAME SEED, YOU WILL END UP WITH THE SAME SEQUENCE OF RANDOM NUMBERS**

That's why best seeds are the ones which change all the time. A good example is time in miliseconds.

In [ ]:
# generate a few random numbers in python:
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))

#every time you run this cell, your random numbers will be differnt. Try it

In [ ]:
# but if you specify a seed, your random numbers will be the same every time you run this cell!

np.random.seed(0) # plant the seed 0 - this could be any number
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))

print()

np.random.seed(0)
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))

# WHY WOULD ANYONE DO THIS? Well... it's great for debugging! You could write tests!

In [ ]:
# The best thing to do if you are concerned for the 'real randomness' of your numbers is
# to use time now in miliseconds as the seed. Time changes constantly and never repeats, so it's ideal.

import time
time_now = int(time.time()) # time in seconds since 1 Jan 1970
print(time_now)
np.random.seed(time_now) # plant the seed time_now this number changes every second

print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))

Indeed this is done so much, that numpy has a built-in shortcut for it: just use ```np.random.seed()``` with no argument and you will seed current time. This way you never need to worry about randomness.

In [ ]:
np.random.seed() # this will use current exact time (probably in microseconds) as a seed
print(np.random.randint(10, size=6))
print(np.random.randint(10, size=6))

How often should you do it? It does not really matter, but you could do it before generating some important random numbers.

### Creating Arrays full of Random values

In [ ]:
# ONE DIMENTION - with size 6
array1 = np.random.randint(100, size=6)
print(array1)
print(array1[0])

In [ ]:
# TWO DIMENTIONS - with size 4 for first and 5 for the second
# these could be scores for four courses, each with 5 students
array2 = np.random.randint(100, size=(4,5))
print(array2)
print()

print(array2[3])
print(array2[3, 4])

In [ ]:
# THREE DIMENTIONS - with size 2 for first and 4 for the second and 5 for third
# these could be scores for two departments, each with four courses, each with 5 students

array3 = np.random.randint(100, size=(3,4,5))
print("whole array:")
print(array3)
print()

print("second item:")
print(array3[1])
print()

print("second item's fourth item:")
print(array3[1,3])
print()

print("second item's fourth item's fifth item:")
print(array3[1,3,4])

### Slicing/Subsets of Arrays - just like in Lists

In [ ]:
# my_array[start:ceiling] if someting is not specified, it takes the extreme value
# my_array[:5] means from begining till 5th, my_array[5:] means from 6th till end

digits = np.arange(9)
print(digits)
print(digits[:5])
print(digits[5:])
print(digits[5:7])

### the new index-range syntax:    my_array[ start_index : ceiling_index : jump]

There is also new syntax (that also works for Lists, but you might have never seen it before)

In [ ]:
# my_array[ start_index : ceiling_index : jump]

digits = np.arange(10,20)
print(digits)
print()
print(digits[2:7:2]) # from index 2, till index 7, jumping every 2
print(digits[:7:2]) # from beginning, till index 7, jumping every 2
print(digits[2::2]) # from index 2, till end, jumping every 2
print(digits[::2]) # all, jumping every 2

In [ ]:
# and to make it more interesting: when jump is -2, what will happen?
# the array gets reversed (draw it on a piece of paper to understand it better)
print(digits[::-1]) # all

### Reshaping - changing the dimensions of an Array

In [ ]:
print( np.arange(12) ) 
print()

In [ ]:
print( np.arange(12).reshape((2,6)))
print()

In [ ]:
print( np.arange(12).reshape((4,3)))
print()

In [ ]:
print( np.arange(12).reshape((3,2,2)))

In [ ]:
# but what would this do?
print( np.arange(12).reshape((4,4)))

### Concatenating/Flattening Arrays and Lists - removing one dimension

```np.concatenate()``` takes one argument - a List/Array and will combine all of it's items into an Array. 

concatenate will remove one dimension:
 ```[[1,2,3], [4,5,6]]  ---> [1,2,3,4,5,6]```
 
You can think of concatenate as a **JOIN THE ARRAYS IN THIS ARRAY**

In [ ]:
array1 = np.array([10,20,30])
array2 = np.array([40,50,60])
print( np.concatenate([array1, array2]) )

In [ ]:
list1 = [70, 80,90]
list2 = [1, 2, 3]

print( np.concatenate([list1, list2]) )

In [ ]:
# you can concatenate lists and arrays together. They really are very simmilar

array1 = np.array([10,20,30])
array2 = np.array([40,50,60])
list1 = [70, 80,90]
print( np.concatenate([array1, array2, list1]) )

In [ ]:
# concatenation respects dimentions, it will flatten only the top dimension
two_dimention_array1 = np.array([ [1,2,3],    [4,5,6] ])
two_dimention_array2 = np.array([ [10,20,30], [40,50,60] ])

print(two_dimention_array1)
print(two_dimention_array2)

print()
print( np.concatenate([two_dimention_array1,two_dimention_array2]) )

In [ ]:
# this starts being spaghetti code, but you could flatten something twice and remove two dimensions

print( np.concatenate( np.concatenate( [two_dimention_array1,two_dimention_array2] ) ))

Concatenate has an extra argument axis ```np.concatenate([arr1,arr2],axis=1)``` which by default is 0

- axis=0 (the default) - flatten horisontally - remove one dimension from all items in list
- axis=1 - flatter vertically - combine all first items, then all second items, all third... etc

In [ ]:
two_dimention_array1 = np.array([ [1,2,3], [4,5,6] ])
two_dimention_array2 = np.array([ [10,20,30], [40,50,60] ])

print( np.concatenate([two_dimention_array1,two_dimention_array2], axis=0) )

In [ ]:
two_dimention_array1 = np.array([ [1,2,3], [4,5,6] ])
two_dimention_array2 = np.array([ [10,20,30], [40,50,60] ])

print( np.concatenate([two_dimention_array1,two_dimention_array2], axis=1) )

### Horisontal and Vertical Stack -  add Arrays to each other without losing dimensions

In [ ]:
my_array = np.array([-7,-8,-9])
my_array_2d = np.array([ [1,2,3], [4,5,6] ])

print(np.vstack([my_array, my_array_2d]))

In [ ]:
my_array_2d_1 = np.array([[-1,-2],[-3, -4]])
my_array_2d_2 = np.array([ [1,2,3], [4,5,6] ])

print(np.hstack([my_array_2d_1, my_array_2d_2]))

### Split - split one Array into many Arrays using predefined indexes

In [ ]:
digits = np.arange(1,10)
print(digits)
print()

In [ ]:
three_sub_arrays = np.split(digits,[3,6])
print(three_sub_arrays)

In [ ]:
# you have not seen this syntaxt yet, it's typical to advanced Python. 
# You can specify many variables in one line, but assigning a List to them
a,b,c = [10,20,30]
print(a,b,c)

In [ ]:
# so the split can be used as follows:
start, middle, end = np.split(digits,[3,6])
print(start, middle, end)

In [ ]:
# Note: you could achieve the same effect with many lines of code with range()
# but that requires much more thinking and opportunities for bugs

first = np.arange(1,4)
second = np.arange(4,7)
third = np.arange(7,10)
print(first, second, third)

# but why do something the hard way if there is a proper syntax for it?

In [ ]:
# putting it all together:

digits = np.arange(0,20).reshape(5,4)
print(digits)
print()

first, second, third = np.vsplit(digits,[2,3])
print(first)
print(second)
print(third)

# PANDAS

With Pandas we will work more and more with real data. Many concepts will be familiar to you from Excel and other data-briwsing applications.

### DataFrame - a more powerful Dict

- Keys are column names
- Values as Arrays/Lists with rows

**DataFrame is to a Dict what Array was to a List**

To create a DataFrame we put a Dict it its constructor. But remember that values need to be lists. Like this:

```
data = pd.DataFrame({'names': ['Judy', 'Kim', 'Shaz'], 'year': [1,1,2] })
   ```
   
You can access DataFrame columns, like you would variables in an object

```data.names``` or ```data['names']```

you can get

### DataFrame Subsets - get some Rows, get some Columns

In [ ]:
# before we use them, we'll need to import Pandas once per notebook (it's not a problem if you import them a few times)

import numpy as np
import pandas as pd

In [ ]:
data = pd.DataFrame({'names': ['Judy', 'Kim', 'Shaz'], 'year': [1,1,2] })
print(data)

In [ ]:
# Row subset work like with Arrays, above  dataframe[start: ceiling : jump ]
print(data[1:3])

In [ ]:
print(data[0:3:2])  # jump every 2

In [ ]:
# Get a column
print(data.names)

In [ ]:
# get individual items
print(data.names[0])
print(data.names[2])

In [ ]:
# get individual items
print(data.names[1:3])

### Modifying DataFrames

In [ ]:
# Adding new column to dataframe works just like adding a new key-value pair to a Dict

data = pd.DataFrame({'names': ['Judy', 'Kim', 'Shaz'], 'year': [1,1,2] })
data['department'] = ['business', 'math', 'business']
print(data)

You can ```print()``` DataFrames and they will be arranged into a nice readable format, but you can also return them (make them the last item in your Notetebook cell) and they will be displayed in an even nicer format.

In [ ]:
data = pd.DataFrame({'name' : ['Judy', 'Kim', 'Shaz', 'Natt', 'Gill'],
                   'surname' : ['OBrien', 'Gunn', 'Dice', 'Johnes', 'Roy'],
                   'semester' : [1,1,2,2,1],
                   'score' : [3.7, 4.6, 8.2, 2.6, 3.7],
                   'penalty' : [0.5, 0.0, 0.8, 0.0, 0.2]})

# when printed in a cell it is simple
print("printed version:\n", data)

# when returned from a cell it is prettier
data

In [ ]:
# you can produce some simple statistics about numeric values in your data with describe() 

data.describe()

In [ ]:
# to get information abotu data types and sizes of data you can use info()

data.info()

### Sorting Dataframes

sort_values takes a number of arguments:

- ```by``` is a List of columns to sort the data by, in order. First items are sorted by first item in this list. If there is a tie, they are sorted by second item, etc.
- ```inplace``` is a True/False value indicating whether the new value should be returned, or put back into the sorted dataframe. Use ```inplace=False``` If you want to print or output data, and use ```inplace=True``` if you want to change your actual data.
- ```ascending``` takes either True/False value, or a list of True/False values (if sorting by many columns)

In [ ]:
data.sort_values(by=['semester','score'],ascending=True,inplace=False)

In [ ]:
data.sort_values(by=['semester','score'],ascending=[False, True],inplace=False)

In [ ]:
data.sort_values(by=['score', 'penalty'],ascending=True,inplace=False)

In [ ]:
data.sort_values(by=['surname'],ascending=True,inplace=True)
print(data)

### Removing Duplicates with drop_duplicates()

Before we learn how to remove duplicates, I will show you how to create some:

In [ ]:
# multiplying items combines them. Multiplying item by x is like adding it to itself x many times

print(3 * 3)
print('3' * 3)
print([3] * 3)

In [ ]:
# this can be combined with actual adding
print([1,1,1] + [2,2])
print(['sales'] * 3 + ['marketting']*5)

Let's make some duplicates and remove them:

In [ ]:
offices = pd.DataFrame({'department':['sales'] * 3 + ['marketing']*5 + ['r&d'] * 4, 'floor':[1,2,3,1,2,3,3,3,1,1,1,2]})
offices

In [ ]:
offices.sort_values(by='floor')

In [ ]:
offices.drop_duplicates()

In [ ]:
offices.drop_duplicates(subset='department')

In [ ]:
offices.drop_duplicates(subset='floor')

### Mapping columns values with .map( )

Previously when we used map, it was a python method, into which we had to pass the list we wanted to map.

```map(mapping_function, my_list)```

That was a bit confusing, becuase methods usually are called on objects. It would make more sense for map to work like this:

```my_list.map(mapping_function)```

And Pandas give us the ability to do exacltyu that! Well... on Arrays, not Lists, but that's close enough.

```my_data_frame.map(mapping_function)```

**YOU CAN CHAIN .MAP( )** which makes certain tasks much simpler, like in 

```name.map(mapping_function_1).map(mapping_function_2)```

In [ ]:
data = pd.DataFrame({'fruits' : ["banana",  "kiwi", "apple"]})

data['lengths'] = data['fruits'].map(len)

data

In [ ]:
offices = pd.DataFrame({'department':['sales'] * 3 + ['marketing']*5 + ['r&d'] * 4, 'floor':[1,2,3,1,2,3,3,3,1,1,1,2]})
offices['floor'] = offices['floor'].map(lambda floor: f"Floor {floor}")
offices

In [ ]:
offices = pd.DataFrame({'department':['sales'] * 3 + ['marketing']*5 + ['r&d'] * 4, 'floor':[1,2,3,1,2,3,3,3,1,1,1,2]})

floor_names = {1: 'Ground Floor', 2: 'Main Floor', 3: "Roof Floor"}

offices['floor'] = offices['floor'].map(lambda floor: floor_names[floor] )
offices
print(['sales'] * 3 + ['marketing']*5 + ['r&d'] * 4)

### Cleaning up data with .map( )

Here's an **example of chaining** ```.map( )``` to clean up data:

In [ ]:
# data
offices = pd.DataFrame({
    'department': ['-Sales-', 'sales  ', '-SALES-', 'marketing', 'MARKETING', '-marketing-', 'Marketing', '  marketing', '-R&D-', ' r&d', 'r&d  ', 'r&d'],
    'floor':[1,2,3,1,2,3,3,3,1,1,1,2]
})
department_codes = {'sales': "SAL", 'marketing': "MAR", 'r&d': "RND" }

# lambdas
remove_space_and_dash = lambda word: word.strip().strip('-')
to_lower_case = lambda word: word.lower()
dept_name_to_code = lambda dept_name: department_codes[dept_name]

# mapping
offices['dept_code'] = offices['department'].map(remove_space_and_dash).map(to_lower_case).map(dept_name_to_code)
offices

### DataFrame and Higher Order Functions: .map( ) and .applymap( ) amd .apply( )

All of these three do something very simmilar, but in simplest terms:

- **MAP()** works with column items, one at a time** 
- **APPLYMAP()** works with while DataFrame
- **APPLY()** works lime map() but has access to the whole row

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs']
})

to_upper_case = lambda word: word.upper()

# map is used on a column
foods['caps_name'] = foods['name'].map(to_upper_case)
foods

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs']
})

# applymap is used on a while dataframe
new_foods = foods.applymap(to_upper_case)
new_foods

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20]
})


string_from_row = lambda column: f"{column['name']} from {column['supplier']} suits {column['diet']} diet"

# apply is used to create a new column, but has access to all columns 
foods['label'] = foods.apply(string_from_row, axis='columns')
foods

# More of data cleaning and preparation:

### Calculate a new column from rows with ```.assign( )```

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# "Returns a new object with all original columns in addition to new ones. 
# Existing columns that are re-assigned will be overwritten."

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20]
})

foods = foods.assign(student_price = foods['price']*0.9, available = True)
foods

For a change, **assign() does not change the original dataframe**. That's because if you specified 'inplace=True' it would just add a column called 'inplace' and put values True in every row of that column. It's just a peculiar price we need to pay for the power of assign.

### Delete a column with ```.drop( )```

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20]
})

foods.drop('supplier',axis='columns',inplace=True)
foods

### Replace some data with ```.replace( )```

Note: **NaN** stands for "Not a Number" and is sort of like **None**

In [ ]:
# Replace in ALL COLUMNS

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
})

# replace value 0 with NaN 
foods.replace(0, np.nan, inplace=True)
foods

In [ ]:
# Replace in SELECTED COLUMNS

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
})

# replace value 0 with NaN - IN ALL COLUMNS
foods['sold_since_year'].replace(0, np.nan, inplace=True)
foods

In [ ]:
# Replace many items with one replacement

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
})

foods.replace(['Vegetarian','Vegan'],['Not-Meat'],inplace=True)
foods

In [ ]:
# Replace many items with many replacements

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
})

foods.replace(['Vegetarian','Vegan', 'Meat'],['VEGE', 'VEGA', 'MEAT'],inplace=True)
foods

### Simple statistics for all data and grouped by a value

Dataframe provide a full set of all statistical methods. If you need something specific, always look in the documentation https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
})

# mean of all prices
print( foods['price'].mean() )

# mean of all prices, grouped by diet
print( foods['price'].groupby(foods['diet']).mean() )
print( foods['price'].groupby(foods['diet']).max() )
print( foods['price'].groupby(foods['diet']).median() )

### Index - the most important part of your data (should be unique, but does not have to)

If you do not specify the index in your data, python will just use continuous numbers starting from 0 (like 0,1,2,3,4,...). Have a look at the dataframes you created before. Index is that number to the left. It's sort of like a row name in Excel.

```.set_index(a_column_name)``` will set a column with name a_column_name to be the index

```drop=True``` will make the old column disappear, otherwise, it will get duplicated (you'd have two identical columns: the original one, and the new index column)

You could also have many columns act as  indexes, but we will not go into that. If you wanted to do that, just pass a List of column names to set_index rather than one column name.

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0],
    'sold_since_year': [2018, 2015, 0, 2012, 0, 0]
}).set_index('name', drop=True)

foods

### Renaming columns and rows

You can rename rows, columns, or both. Just specify a dict where key is the OLD VALUE, and value is the NEW VALUE.

```{old_value: new_value, old_value_2: new_value_2}```

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0]
}).set_index('name', drop=True)

foods.rename(index = {'Bagel':'Round Bun', 'Tap Water':'Water'}, columns={'supplier':'from'},inplace=True)
foods

In [ ]:
#You can also use string functions like str.upper

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0]
}).set_index('name', drop=True)

foods.rename(index = str.upper, columns=str.title ,inplace=True)
foods

In [ ]:
#You can also use your own lambda functions for mapping old value to new value

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', 'Vegetarian', 'Vegan', 'Meat', 'Vegetarian', 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', 'Water Tap'],
    'price':[4.30, 2.10, 0.7, 5.70, 3.20, 0]
}).set_index('name', drop=True)

foods.rename(index = (lambda name: name[0:3]), columns=(lambda name: f"The {name}") ,inplace=True)
foods

### Importing data from files

Let's import some data from a csv file. Panda simplified and streamlined importing data

In [ ]:
# if we did not specify index_col, index would be 0,1,2,3,... but this data already has a gooid index 
data = pd.read_csv("edinburgh_airbnb_listings.csv", index_col='id') 
data

### Categories - Grouping results by a range of values. Use ```pd.data.cut( data, bins, labels )```

Often we want to categorise our data into particular groups by value. Given a set of values, we want to decide in which range they belong.

Imagine a bunch of student exam scores (70,54,40,66) that we want to translate into grades (A,B,C,D,F).

We will need a key of where one grade ends and another starts. One way to call them are bins (like buckets/containers) and our task is put each score in one of these bins.

- F is (0, 40]
- D is (40, 50]
- C is (50, 60]
- B is (60, 70]
- A is (70, 100]

Note: 

- '(' means the value is included in the bin
- '[' means the value is excluded

In panda you could describe it as ```[(0, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 100]]```

In [ ]:
import pandas as pd
import numpy as np

student_scores = [40,54,60,66,70]
bins = [0,40,50,60,70,100]
labels = ["F","D","C","B","A"]

# note: labels are optional, but very useful

# cut will categorise
categories = pd.cut(student_scores, bins, labels=["F","D","C","B","A"], right=False)
print(categories)

In [ ]:
# if you want the rightmost elements to be included in the smaller category (eg. for score 40 to be an 'F')
# use right=True argument, or just no right argument (True is a default)
categories = pd.cut(student_scores, bins, labels=["F","D","C","B","A"], right=True)
print(categories)
print()

When you use ```pd.cut(student_scores, bins, labels=["F","D","C","B","A"])``` the resulting object contains information about 

- which category each of your data oints belongs to
- what are the categories and their boundaries

In [ ]:
student_scores = [40,54,60,66,70]
bins = [0,40,50,60,70,100]
labels = ["F","D","C","B","A"]
categories = pd.cut(student_scores, bins, labels=labels)

print(categories)
print()
print( categories.tolist() )
print(categories.codes) # in older versions this was called .labels

In [ ]:
print(pd.value_counts(categories))

In [ ]:
print(pd.value_counts(categories).cumsum())

### AND FINALLY: Add a new column with bin values

In [ ]:
data = pd.DataFrame( {'student_scores': [40,54,60,66,70]} )
bins = [0,40,50,60,70,100]
labels = ["F","D","C","B","A"]

data['grade'] = pd.cut(data['student_scores'], bins=bins, labels=labels)
data

# Cleaning up missing data (with NaN values)

In [ ]:
import pandas as pd
import numpy as np

foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', None, 'Vegan', 'Meat', None, 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', None],
    'price':[4.30, 2.10, 0.7, 5.70, None, 0]
}).set_index('name', drop=True)

print("Shape:")
print(foods.shape)
print("Missing values:")
print(foods.isnull().sum())
print("All values:")
print(foods)

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', None, 'Vegan', 'Meat', None, 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', None],
    'price':[4.30, 2.10, 0.7, 5.70, None, 0]
}).set_index('name', drop=True)

# remove all rows with any missing values 
foods.dropna(inplace=True)

print("Shape:")
print(foods.shape)
print("Missing values:")
print(foods.isnull().sum())
print("All values:")
print(foods)

In [ ]:
foods = pd.DataFrame({
    'name': ['Bagel', 'Milk Chocolate', 'Carrot', 'Ham Sandwich', 'Egg Cake', 'Tap Water'],
    'diet':['Vegan', None, 'Vegan', 'Meat', None, 'Vegan'],
    'supplier':['Bros', 'Luca', 'Whitmore', 'Union', 'Lovecrumbs', None],
    'price':[4.30, 2.10, 0.7, 5.70, None, 0]
}).set_index('name', drop=True)

# Cleanup the Diet column:

print("missing values in Diet:", foods.diet.isna().sum())
print("present values in Diet:\n", foods.diet.value_counts(sort=True))

foods.diet.fillna('Unknown',inplace=True)
print()

print("missing values in Diet:", foods.diet.isna().sum())
print("present values in Diet:\n", foods.diet.value_counts(sort=True))

In [ ]:
# and keep cleaning up columns until there are no NaNs in all columns
print(foods.isnull().sum() )

In [ ]:
train.target.value_counts()/train.shape[0]

In [ ]:
pd.crosstab(train.education, train.target, margins=True)

# Other Panda Tricks

### Read a csv file

In [ ]:
data = pd.read_csv("data/edinburgh_airbnb_listings.csv", index_col='id') 
data

### Take top x rows from a dataframe

In [ ]:
data = pd.read_csv("data/edinburgh_airbnb_listings.csv", index_col='id') 

# top 5 items
data.head(5)

### Date ranges

In [ ]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

### Quickly create some fake data:

In [ ]:
# generate some fake data quickly: combine np.arange( ) with .reshape()

data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

### Pivot tables - these qre are quite powerful, but we'll not talk about them much

In [ ]:
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data.pivot_table(values='ounces',index='group',aggfunc=np.mean)

## ⭐️⭐️⭐️💥 What you learned in this session: Three stars and a wish 
**In yoru own words** write in your Learn diary:

- 3 things you yould like to remember from this badge
- 1 thing you wish to understand better in the future or a question you'd like to ask

# ⛏ Minitask 1: Explore two of the datasets

- ask simple questions: what are the column names, how many records are there, etc
- can you print just first 10 items, in just one of the columns? 
- what else did you learn about numpy and pandas that you could use on these datasets?

In [ ]:
# local file
data = pd.read_csv("data/edinburgh_airbnb_listings.csv") 
print(data.columns) # example

In [ ]:
# online file
import pandas as pd

data = pd.read_csv("https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2020/10.csv") 
print(data.columns) # example